{% extends "../base.html" %}

{% block jquery_autosearch%}
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

{% endblock %}

{% block uiKit %} {% endblock %}

{% block nav %} {% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>



<form action= {% url 'saveLocation'%} method="post"class="uk-search uk-search-default">
    <span uk-search-icon></span>
    {% csrf_token %}
    <input class="uk-search-input" id="search_term" type="search" placeholder="Search...">
    <input type="submit" class="uk-button uk-button-primary">submit</input>
</form>

<script type="text/javascript">
  $(function() {
    $("#search_term").autocomplete({
      source: "/map/get-term",
      minLength: 4,
    });
  });
</script>


{% endblock %}
